name: Veracode Upload and Scan

on:
  workflow_dispatch:  # Allows manual trigger

jobs:
  veracode_scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Zip project
        run: zip -r app.zip . -x "*.git*" "*.md" "*.yml"

      - name: Upload to Veracode and scan
        uses: veracode/github-uploadandscan-action@v0.2.5
        with:
          appname: 'TEST - GITHUB SCAN'   # Make sure this matches your Veracode app name exactly
          createprofile: false
          filepath: './app.zip'
          version: ${{ github.run_id }}
          vid: ${{ secrets.VERACODE_API_ID }}
          vkey: ${{ secrets.VERACODE_API_KEY }}
